body{
	background-color: black;
	display:flex;
	justify-content: center;
}

.playingCanvas {
	width:1024px;
	height:768px;
	border: 1px dashed rgb(240, 238, 238,0.2);
	visibility: visible;
}

#pulse1 {
	z-index: 1;
	border: 3px solid white;
}

#pulse2 {
	z-index: 1;
	border: 1px solid white;
}

#pulse3 {
	z-index: 1;
	border: 5px solid red;
}

#pulse4 {
	z-index: 1;
	border: 2px solid red;
}