body{
	background-color: black;
	margin: 0 auto;
	font-family: "helvetica";
}

.playingArea {
	/*display:flex;*/
/*	flex-direction: column
	flex-wrap:nowrap;
	justify-content: center;
	align-items: flex-start;*/
	width:1024px;
	height:700px;
	margin: 10px auto;
	border: 1px dashed rgb(240, 238, 238,0.2);
}

h1 {
	color:white;
	margin:auto;
	font-family: 'Lobster', cursive;
	font-size: 54px;
	letter-spacing: 12px;
}

h2 {
	color:white;
	margin:10px;
	margin:auto;
}

#score {
	float:left;
	margin: 45px 0 40px 20px;
	width: 150px;
}

#timer {
	float:right;
	margin: 45px 20px 40px 0px;
	width:150px;
}

h3 {
	color:white;
	margin:auto;
	margin: 0 0 0 30px;
}

.rowContainer {
	display: flex;
	justify-content: center;
	width:1024px;
	height:100px;
	margin:20px auto;
	/*flex-direction:row;
	flex-wrap:nowrap;
	justify-content: center;
	align-items: center;*/
}

.card1, .card2, .card3, .card4 {
	width:145px;
	height:100px;
	margin:5px;
}

.playingCanvas {
	width:1024px;
	margin: 5px auto;
}

#pulse1 {
	z-index: 1;
	background: rgb(255,255,255,1);
	height:20px;
	padding:0;
	margin:0 auto;
}

#pulse2 {
	z-index: 1;
	background: rgb(255,255,255,0.8);
	height:10px;
	padding:0;
	margin:5px auto;
}

#pulse3 {
	z-index: 1;
	background: rgb(255,0,0,1);
	height:20px;
	padding:0;
	margin:0 auto;
}

#pulse4 {
	z-index: 1;
	background: rgb(255,0,0,0.8);
	height:10px;
	padding:0;
	margin:5px auto;
}

.rowHead{
	display:flex;
	justify-content: space-between;
	height:100px;
}

img {
	position:relative;
	left:-30px;
}